{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Number Plate Detection System</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/number-plate-detection-favicon.png' %}" type="image/x-icon">

    <!-- Tailwind CSS -->
    {% tailwind_css %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- Inter Font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Header Navigation -->
    <header
        class="z-50 flex items-center justify-around w-full px-6 py-5 transition duration-300 ease-in border-b shadow-sm text-text-950 bg-background-10 dark:text-text-50 dark:bg-background-950 md:px-0">
        <li class="flex flex-col items-center justify-between w-full gap-5 md:flex-row max-w-7xl">

            <div class="flex flex-row items-center justify-start w-full gap-5 md:gap-10">
                <div>
                    <img class="h-[52px] w-14 md:w-20 md:h-20" src="{% static 'images/logo.png' %}" alt="Logo">
                </div>
                <div class="text-xl font-semibold lg:text-2xl lg:font-bold">
                    <p>Number Plate Detection System</p>
                </div>
            </div>

            <nav class="flex items-center w-full gap-x-8 gap-y-4">
                <ul class="flex flex-row-reverse justify-end w-full gap-10 md:flex-row">
                    <li>
                        <i class="mt-3 text-lg cursor-pointer fas fa-moon" id="theme-toggle"></i>
                    </li>
                    <li>
                        <a class="flex items-center px-3 py-2 font-medium transition duration-500 ease-in-out github-button rounded-xl bg-primary-500 text-background-10 hover:bg-primary-400 "
                            href="https://github.com/abhishekjaiswar221/number-plate-detection-system" target="_blank">
                            <i class="pr-2 fab fa-github"></i>
                            GitHub
                        </a>
                    </li>
                </ul>
            </nav>

            </div>
    </header>

    <!-- Capture Image and Show Result -->
    <div
        class="flex items-center justify-around py-16 bg-background dark:bg-dark-background text-text dark:text-dark-text">
        <div class="flex flex-col items-center justify-center w-full md:flex-row max-w-7xl">

            <div class="self-center w-full px-4 lg:w-1/2">
                <h2 class="font-semibold tracking-tight scroll-m-20">Live Video Stream</h2>
                <img src="{% url 'video_plate_feed' %}" alt="Live Stream"
                    class="mt-2 border-2 border-dashed border-dark-primary dark:border-dark-text rounded-3xl" />
                {% comment %}
                <img src="" alt="Live Stream"
                    class="mt-2 border-2 border-dashed border-dark-primary dark:border-dark-text rounded-3xl" />
                {% endcomment %}

                <button onclick="captureROI()"
                    class="w-full py-2.5 text-dark-text rounded-xl bg-dark-primary hover:bg-primary dark:bg-primary dark:hover:bg-dark-primary mt-5 text-base font-semibold transition duration-300 ease-in-out hover:opacity-95 hover:shadow-md md:w-fit md:px-8 md:py-3">
                    Capture ROI
                </button>
            </div>

            <div class="self-center w-full px-4 mt-5 lg:w-1/2">
                <h2 class="font-semibold tracking-tight scroll-m-20">Region of Interest (ROI)</h2>
                <img id="roiImage" src="{% static 'images/roi_placeholder.png' %}" alt="ROI will appear here"
                    class="w-full mt-2 border-2 border-dashed border-primary dark:border-white rounded-3xl bg-primary-50 hover:bg-primary-100" />

                <h2 class="mt-5">OCR Result</h2>

                <div class="relative w-full mt-2">
                    <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                        <svg class="w-4 h-4 text-gray-500" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 4V2M15 16V14M8 9H10M20 9H22M17.8 11.8L19 13M17.8 6.2L19 5M3 21L12 12M12.2 6.2L11 5"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <input type="text" id="ocrText"
                        class="font-medium text-dark-text rounded-xl border-[1.5px] border-dark-primary text-sm block w-full ps-10 p-2.5"
                        placeholder="OCR Result will appear here" />
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div
        class="flex items-center justify-center w-full h-20 bg-background dark:bg-dark-background text-text dark:text-dark-text">
        <div class="max-w-7xl">
            <a href="http://abhishekjaiswar.pages.dev" target="_blank"
                class="text-base font-semibold tracking-tight scroll-m-20">Made
                with ❤️ by Abhishek D Jaiswar</>
        </div>
    </div>

    <!-- Script to capture the Region Of Interest(ROI) -->
    <script>
        function captureROI() {
            fetch("{% url 'capture_roi' %}")
                .then((response) => response.json())
                .then((data) => {
                    if (data.image) {
                        document.getElementById("roiImage").src =
                            data.image;
                        document.getElementById("ocrText").value =
                            data.text;
                    } else if (data.error) {
                        document.getElementById("ocrText").value =
                            data.error;
                    }
                })
                .catch((error) =>
                    console.error("Error capturing ROI:", error)
                );
        }
    </script>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/e31150d3f1.js" crossorigin="anonymous"></script>

    <!-- JavaScript File -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>